<div class="container">
<h1> Add New Book</h>
<%= form_for :book, url:books_path do |f| %>
<div class="form-group">
<%= f.label :title %>
<%= f.text_feild :title %>
</div>

<div class="form-group">
<%= f.label :price %>
<%= f.number_feild :price %>
</div>

<div class="form-group">
<%= f.label :book_id %>
<%= f.number_feild :price %>
</div>

<div class="form-group">
<%= f.submit %>
</div>
<% end %>
</div>
